.app-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.homepage-display{
  display: flex;
  gap: 20px;
}

h1 {
  text-align: center;
  color: #026aa7;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input, select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

button {
  background-color: #026aa7;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005c99;
}

.transaction-list {
  list-style: none;
  padding: 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebecf0;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.clear-button {
  background-color: crimson;
  margin-bottom: 1rem;
}
